<?xml version="1.0"?>
<!--
/**
 * Global Dependency Injection (DI) configuration for the Icao_DataSynchronization module.
 * This file defines preferences for global interfaces to their concrete implementations.
 * It is used for services accessible throughout the application, including Web APIs.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preference for the Data Synchronization API Interface -->
    <preference for="Icao\DataSynchronization\Api\DataSynchronizationInterface" type="Icao\DataSynchronization\Model\DataSynchronization"/>

    <!-- Preference for the Whitelist Repository Interface (for CRUD operations on Whitelist entity) -->
    <preference for="Icao\DataSynchronization\Api\WhitelistRepositoryInterface" type="Icao\DataSynchronization\Model\WhitelistRepository"/>
</config>
