<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Icao_DataCollection::main"
             title="Data Collection"
             module="Icao_DataCollection"
             sortOrder="110"
             parent="Magento_Backend::stores"
             resource="Icao_DataCollection::main" />
        <add id="Icao_DataCollection::whitelist"
             title="Whitelist"
             module="Icao_DataCollection"
             sortOrder="10"
             parent="Icao_DataCollection::main"
             action="data_collection/whitelist/index"
             resource="Icao_DataCollection::whitelist"/>
    </menu>
</config>
