<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Icao_DataCollection::main" title="Data Collection" sortOrder="10">
                    <resource id="Icao_DataCollection::whitelist" title="Whitelist" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>